{% load static from staticfiles %}

<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sample App</title>

    <!-- Resources -->
    <link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/foundation.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}"/>

    <script src="{% static "js/vendor/jquery.js" %}"></script>
    <script src="{% static "js/vendor/modernizr.js" %}"></script>
  </head>

  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href="{% url 'index' %}">KBS+</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li><a href="{% url 'work' %}">Work</a></li>
        <li><a href="{% url 'people' %}">People</a></li>

      </ul>
    </section>
  </nav>

    <body>
        {% block body %}{% endblock %}
    </body>

 <!-- More Resources -->
  <script src="{% static "js/foundation.min.js" %}"></script>
  <script src="{% static "js/people.js" %}"></script>
</html>

