{% extends "base.html" %}

{% block body %}

<div class="row">
  <br>
    <h2 id='info'><b>People /</b></h2>
</div>

<div class="row">
    <input type="text" id="search" placeholder="Type to search for a person"></input>
</div>

<div class="row">
  <ul class="small-block-grid-10">
  {% for person in people %}
    <li class = "people" fname="{{ person.first_name }}" lname="{{ person.last_name }}" role="{{ person.title }}">
      <img class="th" src="{{ person.profile_pic }}">
    </li>
  {% endfor %}
  </ul>
</div>

<div class="row">
  
</div>


{% endblock %}